.playerList {
    list-style: none;
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: row;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

h3 {
    margin-top: 10px;
    margin-left: 5px;
}

.playerListDiv {
    width: 100vw;
    margin: auto;
    text-align: center;
}