td {
    margin: 20px;
}

table {
    width: 100%;
}

.scoreboardDiv {
    width: 20vw;
    text-align: center;
    background-color: darkgrey;
    margin: auto;
}

.playingFieldOuterDiv {
    text-align: center;
    margin: auto;
}